.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  color: #232022;
  border-radius: 5px;
}

td,
th {
  text-align: center;
}

.bg {
  background-image: url(./img/axe-throwing-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

h1,
h3 {
  margin: 0 0 0 0;
}

.btn-floating.btn-large {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.logpoints {
  background-color: #e3f2fd;
  color: #232022;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
.addPlayer {
  color: #232022;
}

.modal-close {
  float: right;
}

.winnerbox {
  background-color: #e3f2fd;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px;
  color: black;
  text-align: center;
  display: none;
}

.toast {
  margin-top: 200px;
  position: fixed;
  left: -webkit-calc(50% - 160px);
  left: -moz-calc(50% - 160px);
  left: calc(50% - 160px);
}

.toastSuccess {
  background-color: #11ee52;
  width: 320px;
  color: black;
  font-weight: bold;
  text-align: center;
}
#vis {
  visibility: hidden;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 50vh;
  margin: 0 auto;
}

.button2 {
  height: 80%;
  width: 80%;
  font-size: 3rem;
}

.suddenDeathText {
  background-color: #b3e5fc;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.button2 {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.5);
  padding: 0 30px;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  will-change: transform;
}
.button2:hover {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}

.button:hover {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}

.button2:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 1px, 0);
}

.pulse {
  position: relative;
  overflow: hidden;
}
.pulse:before,
.pulse:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 30%;
  height: 30%;
  opacity: 0;
  margin: auto;
}
.pulse:before {
  animation: pulse 1.5s infinite linear;
}
.pulse:after {
  animation: pulse 2s 0.4s infinite linear;
}
.pulse:hover:before,
.pulse:hover:after {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
