.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  color: #232022;
  border-radius: 5px;
}

td,
th {
  text-align: center;
}

.bg {
  background-image: url(./img/axe-throwing-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

h1,
h3 {
  margin: 0 0 0 0;
}

.btn-floating.btn-large {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.logpoints {
  background-color: #e3f2fd;
  color: #232022;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
.addPlayer {
  color: #232022;
}

.modal-close {
  float: right;
}

.winnerbox {
  background-color: #e3f2fd;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px;
  color: black;
  text-align: center;
  display: none;
}

.toast {
  margin-top: 200px;
  position: fixed;
  left: -webkit-calc(50% - 160px);
  left: -moz-calc(50% - 160px);
  left: calc(50% - 160px);
}

.toastSuccess {
  background-color: #11ee52;
  width: 320px;
  color: black;
  font-weight: bold;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
